# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/playwright-report/
/test-results/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example
!.env.staging.example

# supabase local/link metadata
supabase/.temp/

# deployment metadata
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# internal only
/app/plan/
docs/*test-plan.md

# node modules in the root (if accidentally created there instead of in app/)
/node_modules
